* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d75e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 40px;
}

h1 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

.title-image-left {
    position: absolute;
    top: 20px; /* Ajuste cette valeur pour descendre l'image de gauche */
    left: 70px;
    width: 200px;
    height: auto;
}

.title-image-right {
    position: absolute;
    top: 80px;
    right: 60px;
    width: 250px;
    height: auto;
}

.product-description-rupture {
    color: #ff0000;
    font-weight: bold;
}

.product-description-stock {
    color: #00ae13;
    font-weight: bold;
}

main {
    width: 90%;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.category {
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 15px;
    padding: 20px;
    width: 30%; /* Retour aux dimensions précédentes pour les ordinateurs */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.category h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
}

table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.member-price {
    color: #27ae60;
    font-weight: bold;
    font-size: 20px;
}

.non-member-price {
    color: #e74c3c;
    font-weight: bold;
    font-size: 20px;
}

.flash-sale {
    background-color: #ffeaa7 !important;
    border: 5px solid #f39c12 !important;
    border-radius: 15px;
    padding: 20px;
    width: 50%; /* Retour aux dimensions précédentes pour les ordinateurs */
    margin: 20px auto;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.flash-sale h2 {
    font-size: 24px;
    color: #d35400 !important;
    margin-bottom: 20px;
}

.flash-sale table {
    width: 100%;
    border-collapse: collapse;
}

.flash-sale th, .flash-sale td {
    padding: 10px;
    text-align: center;
}

.flash-sale img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.announcements {
    background-color: #f5bcbc;
    padding: 15px;
    margin-bottom: 40px;
    border: 5px solid #db5454;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    width: 60%; /* Retour aux dimensions précédentes pour les ordinateurs */
    max-width: 660px;
    text-align: center;
    margin: 20px auto;
}

.announcements h2 {
    color: #ff0000;
}

.copyright h3 {
    color: #ffffff;
    text-align: center;
}


.logo-instagram {
    width : 40px;
    height : 40px;
}

.lien-instagram {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
}


/* Style général pour les boutons flottants */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les boutons */
    z-index: 9999;
}

.floating-buttons button {
    background-color: rgba(128, 128, 128, 0.5); /* Gris avec transparence */
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.floating-buttons button:hover {
    background-color: rgba(128, 128, 128, 0.8); /* Plus foncé au survol */
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-right : 75px;
    background-color: #77dd77;
    color: #000000;
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;  /* Initialement invisible */
    transition: opacity 1s ease-in-out;  /* Transition en fondu sur 1 seconde */
    z-index: 9999;
}

.product-image {
    border-radius : 5px;
}

/* -------------------------------------------------- */

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    .Titre h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .title-image-left {
        position: absolute;
        top: 80px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 30px;
        width: 70px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 100px;
        right: 15px;
        width: 125px;
        height: auto;
    }

    .category-container {
        flex-direction: column;
        align-items: center;
    }

    .category, .flash-sale, .announcements {
        width: 100%;
        max-width: none;
    }

    table img {
        width: 40px;
        height: 40px;
    }

    .category h2, .flash-sale h2, .announcements h2 {
        font-size: 20px;
    }

    .flash-sale, .announcements {
        padding: 10px;
    }

    .copyright h3 {
        font-size: 10px;
    }

    .member-price {
        font-size: 15px;
    }

    .non-member-price {
        font-size: 15px;
    }
    
    .notification {
        padding : 8px;
        font-size : 14px;
        margin-right : 65px;
        z-index : 9999;
    }
    
}

/* -------------------------------------------------- */

/* Breakpoint pour les très petits écrans (par exemple, téléphones) */
@media (max-width: 500px) {
    .Titre h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .title-image-left {
        position: absolute;
        top: 80px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 30px;
        width: 70px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 100px;
        right: 15px;
        width: 125px;
        height: auto;
    }

    .category h2, .flash-sale h2, .announcements h2 {
        font-size: 18px;
    }

    .category, .flash-sale, .announcements {
        padding: 10px;
        width: 95%;
    }

    table th, table td {
        font-size: 12px;
    }

    .copyright h3 {
        font-size: 10px;
    }

    .member-price {
        font-size: 15px;
    }
    
}

/* -------------------------------------------------- */

/* Supprimer les changements de dimensions pour les écrans larges */
@media (min-width: 768px) {
    .category {
        width: 48%; /* Revenir à 30% pour les catégories */
    }

    .flash-sale {
        width: 48%; /* Revenir à 50% pour la Vente Flash */
    }

    .announcements {
        width: 60%; /* Revenir à 60% pour les Annonces */
    }

    .copyright h3 {
        font-size: 20px;
    }

    .member-price {
        font-size: 20px;
    }

    .non-member-price {
        font-size: 20px;
    }
    
}

/* -------------------------------------------------- */

/* Responsive design pour les petits écrans */
@media (max-width: 820px) {
    .Titre h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .category-container {
        flex-direction: column;
        align-items: center;
    }

    .category, .flash-sale, .announcements {
        width: 100%;
        max-width: none;
    }

    table img {
        width: 40px;
        height: 40px;
    }

    .category h2, .flash-sale h2, .announcements h2 {
        font-size: 20px;
    }

    .flash-sale, .announcements {
        padding: 10px;
    }

    .copyright h3 {
        font-size: 10px;
    }

    .member-price {
        font-size: 20px;
    }

    .non-member-price {
        font-size: 20px;
    }
    
}

/* -------------------------------------------------- */

/* Responsive design pour les petits écrans */
@media (max-width: 360px) {
    .Titre h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .category-container {
        flex-direction: column;
        align-items: center;
    }

    .category, .flash-sale, .announcements {
        width: 100%;
        max-width: none;
    }

    table img {
        width: 40px;
        height: 40px;
    }

    .category h2, .flash-sale h2, .announcements h2 {
        font-size: 20px;
    }

    .flash-sale, .announcements {
        padding: 10px;
    }

    .copyright h3 {
        font-size: 10px;
    }

    .member-price {
        font-size: 15px;
    }

    .non-member-price {
        font-size: 15px;
    }
    
    
}

/* -------------------------------------------------- */

@media only screen and (min-width: 1170px) and (max-width: 1190px) and (min-height: 810px) and (max-height: 830px) { /* Taille pour les iPad Air en mode PAYSAGE */

    .title-image-left {
        position: absolute;
        top: 80px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 40px;
        width: 150px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 100px;
        right: 15px;
        width: 210px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 810px) and (max-width: 820px) and (min-height: 1170px) and (max-height: 1190px) { /* Taille pour les iPad Air en mode PORTRAIT */

    .title-image-left {
        position: absolute;
        top: 20px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 40px;
        width: 100px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 40px;
        right: 15px;
        width: 140px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 1014px) and (max-width: 1034px) and (min-height: 1356px) and (max-height: 1376px) { /* Taille pour les iPad Pro en mode PORTRAIT */

    .title-image-left {
        position: absolute;
        top: 80px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 40px;
        width: 140px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 130px;
        right: 15px;
        width: 180px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 758px) and (max-width: 778px) and (min-height: 1014px) and (max-height: 1034px) { /* Taille pour les iPad Mini en mode PORTRAIT */

    .title-image-left {
        position: absolute;
        top: 20px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 20px;
        width: 100px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 40px;
        right: 10px;
        width: 130px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 1014px) and (max-width: 1034px) and (min-height: 758px) and (max-height: 778px) { /* Taille pour les iPad Mini en mode PAYSAGE */

    .title-image-left {
        position: absolute;
        top: 100px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 40px;
        width: 140px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 130px;
        right: 20px;
        width: 180px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 657px) and (max-width: 677px) and (min-height: 365px) and (max-height: 385px) { /* Taille pour les iPhone SE en mode PAYSAGE */

    .title-image-left {
        position: absolute;
        top: 55px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 20px;
        width: 70px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 75px;
        right: 20px;
        width: 120px;
        height: auto;
    }
}

/* -------------------------------------------------- */

@media only screen and (min-width: 724px) and (max-width: 744px) and (min-height: 383px) and (max-height: 403px) { /* Taille pour les iPhone 15 Pro en mode PAYSAGE */

    .title-image-left {
        position: absolute;
        top: 20px; /* Ajuste cette valeur pour descendre l'image de gauche */
        left: 20px;
        width: 90px;
        height: auto;
    }

    .title-image-right {
        position: absolute;
        top: 40px;
        right: 15px;
        width: 110px;
        height: auto;
    }
}

